*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: url('https://ishimori.crd.co/assets/images/gallery10/7b0f8073_original.jpg?v=4d7345d1');
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.wrapper {
    width: 1100px;
    display: flex;
    gap: 20px; 
}

.center-content {
    display: flex;
    flex-direction: column;
    width: 800px; 
}

nav {
    background-color: #ffbfd5;
    padding: 15px 20px;
    height: 70px;
    display: flex;
    align-items: center;
    border-radius: 10px 10px 0 0;
    border: 2.5px solid #DC70A6;
}

.logo {
    color: white;
    font-weight: bold;
    
}

.main-content {
    height: 680px; 
    background-color: white;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border: 2px solid #DC70A6;
}

.right-sidebar {
    border: 2.4px solid #DC70A6;
    width: 250px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 750px; 
}

.sidebar-section {
    flex: 1;
    background-color: #ffbfd5;
    border-radius: 5px;
    transition: transform 0.3s ease;
    border: 2px solid #DC70A6;
    z-index: 1;
}

.fuckass{
    padding-right:-20px;
    margin-left: -230px; 
    width:460px;
    height:840px;
}
.fuckass2{
    width:200px;
    height:200px;
    position: absolute;
    right: 240px;
    top: 730px;
    z-index: 2;
}

.sidebar-section:hover {
    transform: scale(1.02);
}

* {cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat1011.ani), url(https://cur.cursors-4u.net/nature/nat-10/nat1011.gif), auto !important;}