* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
 
}

.wrapper {
    width: 1100px; 
    height: 750px; 
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;

}

nav {
    background-color: pink;
    padding: 15px 20px;
    height: 100px; 
    display: flex;
    align-items: center;
}

.logo {
    color: white;
    font-weight: bold;
}



.container {
    display: flex;
    flex: 1;
    border: 3px solid palevioletred;
  
}

.sidebar {
    width: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid black;
}

.sidebar-section {
    flex: 1;
    background-color: pink;
    border-radius: 5px;
    transition: transform 0.3s ease;
    border: 1px solid black;
}

.sidebar-section:hover {
    transform: scale(1.02);
}

.main-content {
    width: 900px;
    background-color: white;
    
}

/* Start https://www.cursors-4u.com */ * 
{cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat1011.ani), url(https://cur.cursors-4u.net/nature/nat-10/nat1011.gif), auto !important;} 
/* End https://www.cursors-4u.com */
